@charset "UTF-8";
body{
    background-color:#c3eec8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
    color:#45C4B0;
}

h2{
    color:#13678A;
}

#principal{
     text-align: center;
     background-color:#012030 ;
     color: aliceblue;
}

.basico{
    color: #209629;
}

.intermediario{
    color: #cab709;
}

.avancado{
    color: #c71515;
}

.destaque{
    background-color: #010202;
}