@charset "UTF-8";
div{
    display: inline-flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 300px;
    text-align: center;
}

body{
    background-color: rgb(56, 54, 54);
}


h1{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header > p{

    align-items: flex-start;
}

